
.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Main content wrapper */
.main-content {
  margin-left: 100px;  /* Apply left margin */
  margin-right: 100px; /* Apply right margin */
  padding-top: 20px;   /* Optional: Adjust top padding if needed */
  padding-bottom: 20px;/* Optional: Adjust bottom padding if needed */
  margin-top: 20px;
}

/* For larger screens, you can increase the margin if needed */
@media (min-width: 1200px) {
  .main-content {
    margin-left: 200px;  /* Apply larger left margin */
    margin-right: 200px; /* Apply larger right margin */
  }
}
